@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/contacts.css">
    <div class="contactPageBody">
        <div class="contactInfo">
            <span style="margin-top: 10px;">Contacts</span>
                <span class="profileName">Address:
                    <span class="profileNameSpan">
                        Kremlyovskaya St, 35, Kazan, Republic of Tatarstan, 420111</span>
                </span>

                <span class="profileName">E-Mail:
                    <span class="profileNameSpan">
                        Dmitrytxcmn@gmail.com
                        <div></div>
                        Boobl1kJson@gmail.com
                    </span>
                </span>

                <span class="profileName">Call Us:
                    <span class="profileNameSpan">
                        +7 (989) 952 41 76
                        <div></div>
                        +7 (996) 606 62 88
                    </span>
                </span>

                <span class="profileName">Contact Us:
                    <span class="profileNameSpan">
                        Contact us for a quote.
                        <div></div>
                        Help or to join the team.
                    </span>
                </span>
                <div class="contactLinks">
                    <a href="vk.com/drakuldima">
                        <img class="contactLink" src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg">
                    </a>
                    <a href="https://steamcommunity.com/id/drakulone/">
                        <img class="contactLink" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/512px-Steam_icon_logo.svg.png">
                    </a>
                    <a href="https://github.com/DmitryTXCMN">
                        <img class="contactLink" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVl1FYFsRH7ezNbbP8_KL5GHIbud6s1VhRA&usqp=CAU">
                    </a>
                    
                </div>
        </div>

        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0474491331597!2d49.12008631613685!3d55.79241398056398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead115ce47483%3A0x2839ccec44ce7c5a!2z0JjQvdGB0YLQuNGC0YPRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5INC4INC40L3RgtC10LvQu9C10LrRgtGD0LDQu9GM0L3Ri9GFINGB0LjRgdGC0LXQvA!5e0!3m2!1sru!2sru!4v1640350598462!5m2!1sru!2sru"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>