@using AutoNews.DB
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AutoNewsWebsite.API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body class="body">
<div class="header">
    <div class="headerElements">
        <div></div>
        <img alt="logo" class="logo" src="~/img/logo.jpg"/>
        <div class="headerLeftElements">
            <a class="headerElement" asp-controller="Home" asp-action="Index">
                Main Page
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="Index">
                Find
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="Index">
                Authors
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="Privacy">
                About Us
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="Contacts">
                Contacts
            </a>
            @if (Context.Items["User"] is null)
            {
                    <a class="headerElement" asp-controller="News" asp-action="Create">
                        Create news
                    </a>
            }


        </div>
        <div></div>
        <div class="headerLoginElements">
            <div class="headerElement">
                @if (Context.Items["User"] is User user)
                {
                    <a asp-controller="Profile" asp-action="Index">
                        <img class="avatarHeader" src="@user.AvatarUrl" alt="Finder1383">
                    </a>
                }
                @if (Context.Items["User"] is null)
                {
                    <a class="headerElement" asp-controller="Auth" asp-action="Login">
                        Log In
                    </a>
                }
                else
                {
                    <a class="headerElement" onclick="logout()" asp-controller="Auth" asp-action="Login">
                        Log Out
                    </a>
                    <script>
                        function logout(){
                            document.cookie = 'Authorization' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT';
                        }
                    </script>
                }
            </div>
        </div>
    </div>
</div>

@RenderBody()

<!--<div class="footer">
    FooterInfo
</div>-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>