@using AutoNews.DB
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AutoNewsWebsite.API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body class="body">
<div class="header">
    <div class="headerElements">
        <div></div>
        <img alt="logo" class="logo" src="~/img/logo.jpg"/>
        <div class="headerLeftElements">
            <a class="headerElement" asp-controller="Home" asp-action="Index">
                Main Page
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="SearchStartup">
                Find
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="Users">
                Users
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="AboutUs">
                About Us
            </a>
            <a class="headerElement" asp-controller="Home" asp-action="Contacts">
                Contacts
            </a>
            @if (Context.Items["User"] is not null)
            {
                    <a class="headerElement" asp-controller="News" asp-action="Create">
                        Create news
                    </a>
            }


        </div>
        <div></div>
        <div class="headerLoginElements">
            <div class="headerElement">
                @if (Context.Items["User"] is User user)
                {
                    <a asp-controller="Profile" asp-action="Index">
                        <img class="avatarHeader" src="@user.AvatarUrl" alt="avatar">
                    </a>
                }
                @if (Context.Items["User"] is null)
                {
                    <a class="headerElement" asp-controller="Auth" asp-action="Login">
                        Log In
                    </a>
                }
                else
                {
                    <a class="headerElement" onclick="logout()" asp-controller="Auth" asp-action="Login">
                        Log Out
                    </a>
                    <script>
                        function logout(){
                            document.cookie = 'Authorization' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT';
                        }
                    </script>
                }
            </div>
        </div>
    </div>
</div>

@RenderBody()

<div class="footer">
        <div class="footerLinks">
            <b style="margin-bottom: 12px;">VK</b>
            <a class="footerLink" href="https://vk.com/boobl1k.json">Akmatov Mansur</a>
            <a class="footerLink" href="https://vk.com/danil02">Mirgayazov Danil</a>
            <a class="footerLink" href="https://vk.com/drakuldima">Baev Dmitry</a>
        </div>
        <div class="footerLinks">
            <b style="margin-bottom: 12px;">Staem</b>
            <a class="footerLink" href="https://vk.com/boobl1k.json">Boobl1k</a>
            <a class="footerLink" href="https://vk.com/danil02">HotBlender</a>
            <a class="footerLink" href="https://vk.com/drakuldima">Toxicman</a>
        </div>
        <div class="footerLinks">
            <b style="margin-bottom: 12px;">More Useful(useless) Links</b>
            <a class="footerLink" href="https://vk.com/boobl1k.json">Angry Dude</a>
            <a class="footerLink" href="https://vk.com/danil02">Leaver</a>
            <a class="footerLink" href="https://vk.com/drakuldima">Lack of Design</a>
            <a class="footerLink" href="https://vk.com/hightlightergirl">Onlyfans</a>
        </div>
        <div class="footerLinks">
            <b style="margin-bottom: 12px;">Contact Us</b>
            <div class="fcontactLinks">
                <a href="vk.com/drakuldima">
                    <img class="fcontactLink" src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg">
                </a>
                <a href="https://steamcommunity.com/id/drakulone/">
                    <img class="fcontactLink" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/512px-Steam_icon_logo.svg.png">
                </a>
                <a href="https://github.com/DmitryTXCMN">
                    <img class="fcontactLink" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVl1FYFsRH7ezNbbP8_KL5GHIbud6s1VhRA&usqp=CAU">
                </a>
                
            </div>
        </div>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>