.footer {
    display: flex;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 200px;
    background: #202020;
    color: white;
    position: relative;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 6px;
}

.footerLink {
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    color: white;
}

.fcontactLinks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10px;
}

.fcontactLink {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}