.searchTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.findInputSpace {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    width: 1200px
}

.findInputForm {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.findInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    width: 90%;
    font-size: 24px;
    line-height: 28px;
    outline: none;
    border: none;
}

.findButton {
    width: 10%;
    border: none;
    border-left: solid 1px black;
    outline: none;
    background-color: rgb(155, 155, 155);
}

    .findButton:hover {
        background-color: rgb(192, 192, 192);
    }

.findButtonImg {
    width: 18px;
    height: 18px;
}
