@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/news.css">
    <div class="newsPageBody">
        <form class="createNews">

            ImageURL:
            <input class="createInput" type="text">

            News title:
            <input class="createInput" type="text">

            <div class="line"></div>

            News article:
            <textarea class="createInputArticle"></textarea>
            <div class="profileEditButtons">
                <button class="profileEditButton" type="submit">Cancel</button>
                <button class="profileEditButton" type="submit">Create</button>
            </div>

        </form>
    </div>