@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/news.css">
<div class="newsPageBody">
    <form class="createNews" id="createNewsForm">
        ImageURL:
        <input name="LogoUrl" class="createInput" type="text">
        News title:
        <input name="Title" class="createInput" type="text">
        <div class="line"></div>
        News article:
        <textarea name="Text" type="text" class="createInputArticle"></textarea>
        <div class="profileEditButtons">
            <button class="profileEditButton" onclick="location.reload()" type="reset">Cancel</button>
            <button class="profileEditButton" type="submit">Create</button>
        </div>
    </form>
    <script>
                    createNewsForm.onsubmit = async (e) => {
                        e.preventDefault();
                        await fetch('https://localhost:5001/Back/CreateNews', {
                            method: 'POST',
                            body: new FormData(createNewsForm)
                        });
                        location.href = 'https://localhost:5001';
                    };
    </script>
</div>