@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/auth.css">

    <div class="authFormBlock">
        <form id="registerForm">
            <span>Log In</span>
            <input type="text" placeholder="Login"  name="login">
            <input type="password" placeholder="Password"  name="password">
            <a asp-controller="Auth" asp-action="Register">Don't have profile? Click here to Register.</a>
            <input type="submit" value="Отправить" />
        </form>
        <script>
                    registerForm.onsubmit = async (e) => {
                        e.preventDefault();
                        await fetch('https://localhost:5001/Entering/Login', {
                            method: 'POST',
                            body: new FormData(registerForm)
                        });
                        setTimeout(function(){ document.location.href='https://localhost:5001/Profile'}, 100);
                    };
        </script>
    </div>
