@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/auth.css">

<div class="authFormBlock">
    <form id="registerForm">
        <span>Register</span>
        <input type="text" placeholder="Login(E-Mail)" name="login">
        <input type="text" placeholder="Nickname" name="nickname">
        <input type="text" placeholder="Name Surname" name="name">
        <input type="text" placeholder="Age" name="age">
        <input type="text" placeholder="AvatarURL" name="avatarURL">
        <input type="password" placeholder="Password" name="password">
        <a asp-controller="Auth" asp-action="Login">Already have any profile? Click here to Log In.</a>
        <input type="submit" value="Отправить"/>
    </form>
    <script>
                    registerForm.onsubmit = async (e) => {
                        e.preventDefault();
                        await fetch('https://localhost:5001/Entering/Register', {
                            method: 'POST',
                            body: new FormData(registerForm)
                        });
                        location.reload();
                    };
    </script>
</div>