<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AutoNewsWebsite.API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body class="body">
<div class="header">
        <div class="headerElements">
            <div></div>
            <img alt="logo" class="logo" src="img/logo.jpg" />
            <div class="headerLeftElements">
                <a class="headerElement" asp-area="" asp-page="/MainPage">
                    Main Page
                </a>
                <a class="headerElement" asp-area="" asp-page="/Find">
                    Find
                </a>
                <a class="headerElement" asp-area="" asp-page="/Authors">
                    Authors
                </a>
                <a class="headerElement" asp-area="" asp-page="/AboutUs">
                    About Us
                </a>
                <a class="headerElement" asp-area="" asp-page="/Contacts">
                    Contacts
                </a>

            </div>
            <div></div>
            <div class="headerLoginElements">
                <div class="headerElement">
                    <a class="headerElement" asp-controller="Login" asp-action="Index">
                        Log In
                    </a>
                </div>
            </div>
        </div>
</div>

        @RenderBody()

<div class="footer">
        FooterInfo
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>