@using AutoNewsWebsite.DAL.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AutoNewsWebsite.API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body class="body">
<div class="header">
        <div class="headerElements">
            <div></div>
            <img alt="logo" class="logo" src="img/logo.jpg" />
            <div class="headerLeftElements">
                <a class="headerElement" asp-area="" asp-page="/MainPage">
                    Main Page
                </a>
                <a class="headerElement" asp-area="" asp-page="/Find">
                    Find
                </a>
                <a class="headerElement" asp-area="" asp-page="/Authors">
                    Authors
                </a>
                <a class="headerElement" asp-area="" asp-page="/AboutUs">
                    About Us
                </a>
                <a class="headerElement" asp-area="" asp-page="/Contacts">
                    Contacts
                </a>

            </div>
            <div></div>
            <div class="headerLoginElements">
                <div class="headerElement">
                    <a class="headerElement" asp-controller="Login" asp-action="Index">
                        Log In
                    </a>
                </div>
            </div>
        </div>
</div>

<<<<<<< Updated upstream
<form id="ajaxfunc">
    <button type="submit">Абоба</button>
    <input type="hidden" name="Head" value="Head">
    <input type="hidden" name="Content" value="Content">
    <input type="hidden" name="DateOfCreate" value="2017-06-01T08:30">
</form>
<script>
ajaxfunc.onsubmit = async (e) => {
e.preventDefault();
let xmlHttp = new XMLHttpRequest();
xmlHttp.open("post", "https://localhost:5001/News/Create");
xmlHttp.send(new FormData(ajaxfunc));
location.reload();
};
</script>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - AutoNewsWebsite.API - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
=======
        @RenderBody()

<div class="footer">
        FooterInfo
</div>
>>>>>>> Stashed changes
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>