@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/contacts.css">
    <div class="contactPageBody">
        <div class="contactInfo">
            <span style="margin-top: 10px;">About Us</span>
                <span class="profileName">11-010 Team:
                    <span class="profileNameSpan">
                        We are group of students from Kazan Federal University. You can call us whatever you want, but actually we are Toxicman, Booblik and HotBlender. We write this example site to show our skills, and so you can order YOUR OWN site. Visit <b>Contacts</b> page and call us as soon as you can!</span>
                </span>
        </div>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBJoHrEOgm0Rzi5GrnOtU_kkwc0R7KQpjHtbl8ZzbE4e4vrzsVqREf3rmQjQiYupFsP0&usqp=CAU"
            width="600" height="600">
    </div>