@model Microsoft.EntityFrameworkCore.DbSet<AutoNews.DB.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="css/userlist.css">
    <div class="userlist">
        @foreach ()
        {
            <a class="userblock">
                <img src="avatar"
                    alt="userAvatar" class='userAvatar'>
                nickname
            </a>
        }
    </div>