@model Microsoft.EntityFrameworkCore.DbSet<AutoNews.DB.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/userlist.css">
    <span class="userlistTitle">User List:</span>
    <div class="userlist">
        @foreach (var user in Model)
        {
            <a class="userblock" href="https://localhost:5001/Profile?userId=@user.Id">
                <img src="@user.AvatarUrl"
                    alt="userAvatar" class='userAvatar'>
                @user.NickName
            </a>
        }
    </div>